html {
    font-size:12px;
}


header{
    display:flex !important;
    background-color:#fff;
    border-bottom:1px solid #ddd;
    padding:1vh 1vw;
     color:white;
}
body {
    background-color:#fafafa;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 50px; 
    background-size: cover;
}


.navigation {
    width:80%;
    margin:0 auto;
}

.buttonChat {
    float:right;
}